@import url('https://fonts.google.com/specimen/Chewy');
@import url('https://fonts.google.com/specimen/Oswald');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}


body{
background-image: url("../assets/images/marmer.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}

.header{
    background-color: rgb(136,139,148);
    height: 150px;
    margin: 0px;
    border-top: 0px;
    padding: 1px;
}

/* header en navigatie
--------------------- */
.header_wrapper {
  background-color: rgb(136,139,148);
  padding: 0 0;
  height: 150px;
}

.logo h1 {
  background-color: rgb(212,213,218);
  font-family:'Chewy', sans-serif;
  color: rgb(136,139,148);
  font-size: 100px;
  border-radius:40px;
  width:150%;
  text-align: center;
  height: 110px;
  line-height: 120px;
  margin: 20px 40px 40px 40px;
}

nav ul {
  list-style: none;
  padding:0;
  margin:0;
}

nav.main_navigation {
  position:relative;
  height:150px;
  display: block;
}

nav.main_navigation ul {
  position:absolute;
  bottom:0;
  right:0;
  width:120%;
  left: 250px;
}

nav.main_navigation li {
  float:left;
  width:25%;
  text-align: center;
  border-right: 3px solid rgb(212,213,218);
  height: 40px;
}

.liborder{
  border-left: 3px solid rgb(212,213,218);
}

.box_a {
  font-family:'Chewy', sans-serif; 
  font-size: 20px;
  color: rgb(212,213,218);
  text-decoration: none; 
}

nav.main_navigation li:hover{
font-size: 25px;
}

.content_container{
  background-color: rgba(212,213,218,0.70);
  border: 5px solid rgb(136,139,148);
  height: 600px;
  margin: 50px 225px 150px 225px;
  width: 900px;
}

.tekst h3{
  font-family: 'Oswald', sans-serif; 
  color: rgb(136,139,148);
  font-size: 20px;
  margin: 40px 35px;
  line-height: 35px;
  text-align: justify;
}

.fotovoorstel{
   margin: 15px 0px 15px 0px;
   border: 2px solid rgb(136,139,148);
}

.voorstel{
  margin: 25px 0px 25px 0px;
}

.footertekst{
  font-family: 'Oswald', sans-serif; 
  color: rgb(212,213,218);
  font-size: 15px;
  margin: 0px 0px 20px 0px;
}

.footer-wrapper{
  background-color: rgb(136,139,148);
  padding: 0 0;
  height: 130px;
  padding: 20px;
}

.media1{
position: absolute;
left: 100px;
top: 30px;
}

.media2{
position: absolute;
left: 150px;
top: 30px;
}

.media3{
position: absolute;
left: 200px;
top: 30px;
}

.bijschrift h3{
  font-family: 'Oswald', sans-serif; 
  color: rgb(136,139,148);
  font-size: 15px;
  line-height: 30px;
  margin: 60px 0px 0px 0px;
}